{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>

        <meta charset="utf-8">
        <title>Receitas</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
        <link rel="stylesheet" href={% static 'css/reset.css' %} >
        <link rel="stylesheet" href={% static 'css/style.css' %} >
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
                crossorigin="anonymous"></script>
    </head>

    <body>


        <header class="hero is-danger is-medium ">

            <div class="navbar">

                <a role="button" class="navbar-burger is-hidden-desktop is-pulled-left" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>

                <aside id="tags" class="navbar-menu is-hidden-desktop">

                    <div class="menu">


                    {% if tags %}
                        <h2 class="menu-label">Filtrar por tags</h2>
                        <br>

                        <form action="/" method="post">
                            <div class="buttons has-addons">
                                <button class="button is-danger" type="submit">Filtrar</button>
                                <button class="button" name="clear" value="clear" type="submit">Limpar</button>

                            </div>
                            <ul class="menu-list">
                                {%  csrf_token %}
                                {% for tag in tags %}
                                    <li>
                                        <input id="tag-{{ tag }}" name="tag" value="{{ tag }}" type="checkbox"
                                               {% if tag.name in request.session.session_filter %}checked{% endif %}/>
                                        <label for="tag-{{ tag }}">#{{ tag }}</label>
                                    </li>
                                {% endfor %}
                            </ul>



                        </form>


                    {% endif %}

                    </div>

                </aside>

            </div>

            <div class="hero-body">

                <div class="container has-text-centered">

                    <h1 class="title">Receitas</h1>

                </div>

            </div>

        </header>


        <main class="columns is-centered">


            <section id="tags" class="section column is-one-quarter is-hidden-touch">
            {% if tags %}
                <h2>Filtrar por tags:</h2>
                <br>

                    <form action="/" method="post">
                    <ul>
                    {%  csrf_token %}
                    {% for tag in tags %}
                        <li>
                        <input id="tag2-{{ tag }}" name="tag" value="{{ tag }}" type="checkbox"
                        {% if tag.name in request.session.session_filter %}checked{% endif %}/>
                        <label for="tag2-{{ tag }}">#{{ tag }}</label>
                        </li>
                    {% endfor %}
                    </ul>
                    <div class="buttons has-addons">
                        <button class="button is-danger" type="submit">Filtrar</button>
                        <button class="button" name="clear" value="clear" type="submit">Limpar</button>

                    </div>

                    </form>


            {% endif %}

            </section>

            <section id="receitas" class="section column is-11-touch is-three-quarters-desktop" >

                <div class="columns is-mobile is-centered is-multiline">

                    {% if recipes %}
                        {% for recipe in page_obj %}

                            <article class="recipe column is-12-mobile is-6-tablet is-4-desktop">
                                <div class="card">

                                    <div class="card-header ">
                                        <a class="card-header-title" href="{{ recipe.origin_url }}">
                                            {% if recipe.name %}{{ recipe.name }}{% else %} {{ recipe.origin_url}}{% endif %}

                                        </a>
                                    </div>


                                        <div class="card-footer">
                                            <div class="card-footer-item tags">
                                                {% for tag in  recipe.tags.all %}
                                                    <span class="tag is-warning">{{ tag }}</span>
                                                {% endfor %}
                                                {% if not recipe.tags.all %}
                                                    <span class="tag is-light" >Sem Tags</span>
                                                {% endif %}


                                            </div>
                                        </div>


                                </div>


                            </article>

                        {% endfor %}
                    {% else %}
                        <div class="column is-11 has-text-centered no-results">

                            <br><br><br><br>
                            <p>Parece que não existe nenhuma receita com esse filtro.</p>
                            <br><br><br><br>
                        </div>
                {% endif %}

                </div>


                <div class="pagination section">
                <span class="step-links ">
                    <div class="buttons has-addons">
                    {% if page_obj.has_previous %}


                        <a class="button is-rounded is-outlined is-danger" href="?page={{ page_obj.previous_page_number }}">&laquo; {{ page_obj.previous_page_number }}</a>
                    {% else %}
                        <a class="button is-rounded is-danger is-outlined" disabled>&laquo;  </a>
                    {% endif %}

                    <span class="button is-rounded is-outlined current is-danger" style="cursor: inherit;">

                        {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                        <a class="button is-rounded is-danger is-outlined" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }} &raquo;</a>
                    {% else %}
                        <a class="button is-rounded is-danger is-outlined" disabled>  &raquo;</a>
                    {% endif %}


                  </div>
                </span>

                </div>





            </section>

        </main>


    <script>

        $("a.navbar-burger").click(function () {
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");
            $(".navbar").toggleClass("is-active");
            $("body").toggleClass("disable-scroll");
            $("h1.title").toggle()

        })

    </script>

    </body>

</html>
