{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Receitas</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
        <link rel="stylesheet" href={% static 'css/style.css' %} >
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>


        <header class="hero is-danger is-medium is-bold">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">Receitas</h1>
                </div>
            </div>

        </header>

        <section id="receitas" class="section column" >
            <div class="columns is-multiline">

            </div>




        </section>





    </body>
</html>
